.button-like-link {
  background: none;
  border: none;
  color: #0d6efd;
  cursor: pointer;
  padding: 0;
  margin: 5px;
  font: inherit;
  display: inline;
}
.Modalbackground {
  top: 0%;
  left: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Modalcontainer {
  width: 400px;
  height: 400px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
}
.closebtn {
  display: flex;
  justify-content: flex-end;
}
.closebtn button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.form {
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
.error-message {
  color: red;
  font-size: 10px;
  margin-bottom: 10px;
}
.submit-btn {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  color: white;
  background-color: #0d6efd;
}
