#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  width: 9rem !important;
  z-index: 1000;
  padding: 0.5rem 1.5rem;
  background-color: #f8f9fa;
  overflow-y: auto;
}

.top-element-text {
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}


.top-element {
  margin-top: 0px;
}

.nav-link {
  display: block;
  margin: auto;
}


.nav-link:hover {
  color: #646cff;
}

.nav.flex-column .nav-item:nth-of-type(2) {
  margin-top: 10px; 
}

.nav.flex-column .nav-item:nth-of-type(4) {
  margin-top: 10px; 
}

.nav.flex-column .nav-item:nth-of-type(6) {
  margin-top: 10px; 
}


.navbar-nav {
  margin-left: 20px;
}


.navbar {
  margin-left: 20px; 
}

.non-link {
  color: black;
  text-decoration: none;
}